page-conroles {
    .interna{
        button:nth-child(odd){
            background-color: #c3caeb;
        }
        button:nth-child(even){
            background-color: rgb(90, 197, 230);
        }
    }
 
}
